.container{
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 3rem;
}

.container.dark{
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.theme-btn{
    border: 0.1rem solid var(--neutral-200);
    height: 2.5rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--btn-2-color);
}

.theme-btn:hover{
    opacity: 0.6;
}

.theme-btn:focus, .theme-btn:active {
    background-color: var(--btn-active-color);
    color: var(--text-color-variant1);
}

.wide-btn{
    border: 0.1rem solid var(--neutral-200);
    height: 2.5rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--btn-color);
}

.wide-btn:hover{
    opacity: 0.6;
}

.filter-label{
    border: 0.1rem solid var(--neutral-200);
    height: 2.5rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--btn-color);
    cursor: pointer;
}

.filter-label:hover{
    opacity: 0.6;
}
.filter-label input[type="radio"]{
    appearance: none;
}
.filter-label.filter-label__selected{
    background-color: var(--btn-active-color);
    color: var(--text-color-variant1);
}
.wide-btn:focus, .wide-btn:active {
    background-color: var(--btn-active-color);
    color: var(--text-color-variant1);
}

.container__extension{
    background-color: var(--background-color-variant);
}
.container__extension p {
    color: var(--text-color-variant2);
}
